@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'allerregular';
  src: url('/aller_rg-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  color: #2b2929;
  font-size: 14px;
  font-weight: normal;
  font-family: 'allerregular';
  line-height: 1.6em;
}

.tab {
  margin-left: 5px;
  padding: 6px 15px;
  border-radius: 25px;
  transition: all 0.15s ease-in-out;
  float: left;
  position: relative;
  border: none;
  text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}
.tab:hover {
  background-color: #c00418;
  color: white;
}

.search {
  background-image: url("https://kubki.com.pl/img/szukaj.png");
  background-position: 15px 50%;
  background-repeat: no-repeat;
  transition: all 0.4s ease;
}
.search:focus {
  width: 150px;
}

.logout {
  border-radius: 25px;
  border: none;
  background-color: rgb(192, 4, 24);
  color: white;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}