@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'allerbold';
  src: url('https://kubki.com.pl/aller_bd-webfont.woff2') format('woff2'),
       url('https://kubki.com.pl/aller_bd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'allerregular';
  src: url('https://kubki.com.pl/aller_rg-webfont.woff2') format('woff2'),
       url('https://kubki.com.pl/aller_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  color: #2b2929;
  font-size: 14px;
  font-weight: normal;
  font-family: 'allerregular';
  line-height: 1.6em;
}